section.tab 
  nav 
    ul.tab__menuWrapper
      li.tab__menu(data-selector="tabMenu", data-is-active) menu 1
      li.tab__menu(data-selector="tabMenu") menu 2
      li.tab__menu(data-selector="tabMenu") menu 3
  .tab__contentWrapper 
    .tab__content(data-selector="tabContent", data-is-active)
      p content 1
    .tab__content(data-selector="tabContent")
      p content 2
    .tab__content(data-selector="tabContent")
      p content 3
