<!DOCTYPE html>
<html lang="ja">
  <%- include('./components/_head') %>
  <body>
    <%- include('./components/_header') %>
    <main>
      <%- include('./components/_section') %>
    </main>
    <%- include('./components/_script') %>
  </body>
</html>
