<!DOCTYPE html>
<html lang="ja">
  <%- include('./modules/_head') %>
  <body>
    <%- include('./modules/_header') %>
    <main>
      <%- include('./modules/_section') %>
    </main>
    <%- include('./modules/_script') %>
  </body>
</html>
